[Desktop Entry]
Name=WindowsVM
Exec=/home/edurso/dev/vm/start.sh
Icon=/home/edurso/dev/vm/windows.logo.png
Terminal=false
Type=Application
Categories=System;

